{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="{% static 'ecommerce/css/style.css' %}">
    <script src="{% static 'ecommerce/js/scripts.js' %}"></script>
</head>
<body>
    <div class="centered-content">
        <h1>Welcome to the Django E-Commerce Project</h1>
        <p>A customer has a name, email, and can make many orders.</p>
        <div class="buttons">
            <a href="{% url 'customer_list' %}"><button type="button">View Customers</button></a>
        </div>
    </div>
</body>
</html>

